/* Custom CSS
-------------------------*/
div.logo {
    background: url([[setting:logo]]) 0 0 no-repeat;
    display: block;
    float: left;
    height: 75px;
    margin: 0;
    padding: 0;
    width: 100%;
}

img.small-logo {
    float: left;
    height: 35px;
    margin: 3px 10px 3px 0;
}

@media (max-width: 767px) {
    img.small-logo {
        margin: 3px;
    }
}

@media (max-width: 480px) {
    .navbar img.small-logo {
        max-width: 150px;
    }
    /* Applying accesshide styles */
    .navbar .small-logo-container + .brand {
        position: absolute;
        left: -10000px;
        font-size: 1em;
        font-weight: normal;
    }
}

/* Logo Banner CSS
-------------------------*/

.logobanner {
  background-image: url([[pix:theme_cleansfc|rlogo]]);
  background-repeat: no-repeat;
  background-position: right;
  height: 81px;
  background-color: #4D72A7;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.logobanner .container-fluid {
  position: relative;
  top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

}
.logobanner .homelink {
  font-size: 2em;
  padding: 10px 15px 10px;
  color: #FFF;
  text-decoration: none;
}

.homelogo {
  display: inline-block;
  width: 104px;
  height: 27px;
  background-image:url([[pix:theme_cleansfc|moodle-logo-white-104]]);
}

.homelogo:hover {
  background-image:url([[pix:theme_cleansfc|moodle-logo-104]]);

}

.navbar-inverse .brand {
  display: none;
}

body {
  padding-top: 34px;
}

#page-header .page-context-header {
  display: none
}

@media(max-width:979px){
  body{padding-top:0}
  .logobanner{display:none;}
}

/* Navbar CSS
-------------------------*/
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.navbar-inverse .navbar-inner {
  background-color: #4d72a7;
  background-image: -moz-linear-gradient(top, #4D72A7, #4D72A7);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4D72A7), to(#4D72A7));
  background-image: -webkit-linear-gradient(top, #4D72A7, #4D72A7);
  background-image: -o-linear-gradient(top, #4D72A7, #4D72A7);
  background-image: linear-gradient(to bottom, #4D72A7, #4D72A7);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4d72a7', endColorstr='#ff4d72a7', GradientType=0);
  border-color: #252525;
}
.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
  color: #ccc;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar-inverse .brand:hover,
.navbar-inverse .nav > li > a:hover,
.navbar-inverse .brand:focus,
.navbar-inverse .nav > li > a:focus {
  color: #fff;
}
.navbar-inverse .brand {
  color: #ccc;
}
.navbar-inverse .navbar-text {
  color: #ccc;
}
.navbar-inverse .nav > li > a:focus,
.navbar-inverse .nav > li > a:hover {
  background-color: transparent;
  color: #fff;
}
.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
  color: #fff;
  background-color: #4D72A7;
}
.navbar-inverse .navbar-link {
  color: #ccc;
}
.navbar-inverse .navbar-link:hover,
.navbar-inverse .navbar-link:focus {
  color: #fff;
}
.navbar-inverse .divider-vertical {
  border-left-color: #4D72A7;
  border-right-color: #4D72A7;
}
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #4D72A7;
  color: #fff;
}
.navbar-inverse .nav li.dropdown > a:hover .caret,
.navbar-inverse .nav li.dropdown > a:focus .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #ccc;
  border-bottom-color: #ccc;
}
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.navbar-inverse .navbar-search .search-query {
  color: #fff;
  background-color: #a0b5d3;
  border-color: #4D72A7;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.15);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.15);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.15);
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.navbar-inverse .navbar-search .search-query:-moz-placeholder {
  color: #ccc;
}
.navbar-inverse .navbar-search .search-query:-ms-input-placeholder {
  color: #ccc;
}
.navbar-inverse .navbar-search .search-query::-webkit-input-placeholder {
  color: #ccc;
}
.navbar-inverse .navbar-search .search-query:focus,
.navbar-inverse .navbar-search .search-query.focused {
  padding: 5px 15px;
  color: #333;
  text-shadow: 0 1px 0 #fff;
  background-color: #fff;
  border: 0;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  outline: 0;
}
.navbar-inverse .btn-navbar {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #456696;
  background-image: -moz-linear-gradient(top, #456696, #456696);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#456696), to(#456696));
  background-image: -webkit-linear-gradient(top, #456696, #456696);
  background-image: -o-linear-gradient(top, #456696, #456696);
  background-image: linear-gradient(to bottom, #456696, #456696);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff456696', endColorstr='#ff456696', GradientType=0);
  border-color: #456696 #456696 #2d4261;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #456696;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.navbar-inverse .btn-navbar:hover,
.navbar-inverse .btn-navbar:focus,
.navbar-inverse .btn-navbar:active,
.navbar-inverse .btn-navbar.active,
.navbar-inverse .btn-navbar.disabled,
.navbar-inverse .btn-navbar[disabled] {
  color: #fff;
  background-color: #456696;
  *background-color: #3d5a84;
}
.navbar-inverse .btn-navbar:active,
.navbar-inverse .btn-navbar.active {
  background-color: #354e73 \9;
}
.navbar-inverse .logininfo a {
  color: #ccc;
}
.navbar-inverse .logininfo a:hover {
  background-color: transparent;
  color: #fff;
}
.navbar-inverse .nav .divider {
  border-left-color: #4D72A7;
  border-right-color: #a0b5d3;
}
.navbar-inverse .usermenu .login {
  color: #ccc;
}
.navbar-inverse .usermenu .login a {
  color: #ccc;
}
.navbar-inverse .usermenu .login a:hover {
  color: #fff;
}
.navbar-inverse .usermenu .moodle-actionmenu .toggle-display {
  color: #ccc;
}
.navbar-inverse .usermenu .moodle-actionmenu .userbutton .usertext {
  color: #ccc;
}
.navbar-inverse .usermenu .moodle-actionmenu .userbutton .usertext .meta {
  color: #ccc;
}
.navbar-inverse .usermenu .moodle-actionmenu .userbutton .usertext .meta .value {
  color: #ccc;
}
.navbar-inverse .usermenu .moodle-actionmenu:hover .usertext {
  color: #fff;
}
.navbar-inverse .usermenu .moodle-actionmenu:hover .usertext .meta {
  color: #ccc;
}
.navbar-inverse .usermenu .moodle-actionmenu:hover .usertext .meta .value {
  color: #fff;
}
.navbar-inverse .usermenu .moodle-actionmenu[data-enhanced] .toggle-display.textmenu .caret {
  border-top-color: #fff;
}
.navbar-inverse .usermenu .moodle-actionmenu .menu .menu-action.icon img {
  border-radius: 0;
  background: transparent;
  box-shadow: none;
}
.navbar-inverse .usermenu .moodle-actionmenu .menu .menu-action.icon:hover img {
  background: #333;
  border-radius: 4px;
  box-shadow: 0 0 16px #ffffff;
}
.navbar-inverse .usermenu .moodle-actionmenu[data-enhanced] .menu .menu-action.icon img,
.navbar-inverse .usermenu .moodle-actionmenu[data-enhanced] .menu .menu-action.icon:hover img {
  border-radius: 0;
  background: transparent;
  box-shadow: none;
}
.jsenabled .navbar-inverse .usermenu .moodle-actionmenu.show {
  background-color: #4D72A7;
}
@media (max-width: 979px) {
  .navbar-inverse .nav-collapse .nav > li > a,
  .navbar-inverse .nav-collapse .dropdown-menu a {
    color: #ccc;
  }
  .navbar-inverse .nav-collapse .nav > li > a:hover,
  .navbar-inverse .nav-collapse .nav > li > a:focus,
  .navbar-inverse .nav-collapse .dropdown-menu a:hover,
  .navbar-inverse .nav-collapse .dropdown-menu a:focus {
    background-color: #4D72A7;
  }
  .navbar-inverse .nav-collapse .navbar-form,
  .navbar-inverse .nav-collapse .navbar-search {
    border-top-color: #4D72A7;
    border-bottom-color: #4D72A7;
  }
}
@media (max-width: 979px) {
  .navbar-inverse .nav-collapse.in {
    border-top-color: #252525;
  }
  .navbar-inverse .nav-collapse.in .nav .dropdown-submenu .dropdown-toggle:after,
  .navbar-inverse .nav-collapse.in .nav .dropdown-menu .dropdown-submenu .dropdown-toggle:after {
    border-top-color: #252525;
  }
  .navbar-inverse .nav-collapse.in .nav .dropdown-submenu.open > a,
  .navbar-inverse .nav-collapse.in .nav .dropdown-menu .dropdown-submenu.open > a {
    background-color: #4D72A7;
  }
  .navbar-inverse .nav-collapse.in .nav .dropdown-submenu:hover.open > a,
  .navbar-inverse .nav-collapse.in .nav .dropdown-menu .dropdown-submenu:hover.open > a {
    background-color: #4D72A7;
  }
  .navbar-inverse .nav-collapse.in .nav .divider,
  .navbar-inverse .nav-collapse.in .nav .dropdown-menu .divider {
    width: auto;
    display: block;
    height: 0;
    margin: 4px 1px;
    border-top: 1px solid #4D72A7;
    border-bottom: 1px solid #a0b5d3;
  }
  .navbar-inverse .nav-collapse.in .nav > li > a:hover,
  .navbar-inverse .nav-collapse.in .nav > li > a:focus {
    color: #fff;
  }
  .navbar-inverse .nav-collapse.in .dropdown-menu a:hover,
  .navbar-inverse .nav-collapse.in .dropdown-menu a:focus {
    color: #fff;
  }
  .navbar-inverse .nav-collapse.in .dropdown-menu a > li > a:hover,
  .navbar-inverse .nav-collapse.in .dropdown-menu a > li > a:focus {
    color: #fff;
  }
  .navbar-inverse .nav-collapse.in .dropdown-submenu a:hover,
  .navbar-inverse .nav-collapse.in .dropdown-submenu a:focus,
  .navbar-inverse .nav-collapse.in .dropdown-submenu a:active {
    color: #fff;
  }
}

/* Footer CSS
-------------------------*/

#page-footer {
  padding:1em 0;
  margin-top:1em;
  border-top:2px solid #ddd
}
#page-footer {
  padding:0;
  margin:50px 0 0;
  font-size:11.9px;
  background-color:#263953;
  border-top:5px solid #f98012
}
#page-footer .footer-nav {
  padding-top:10px;
  padding-bottom:10px;
  text-align:left;
  background-color:#4D72A7;
  box-shadow:0 15px 15px rgba(0,0,0,0.25)
}

#page-footer .footer-nav .row-fluid {
  position:relative;
  background:transparent
}

#page-footer .footer-nav .row-fluid .nav
a {
  color:#ccc;
  text-shadow:0 -1px 0 rgba(0,0,0,0.25);
  background-color:transparent
}

#page-footer .footer-nav .row-fluid .nav a:hover {
  color:#fff;
}

#page-footer .footer-nav .row-fluid .nav .primary
a {
  padding-top:20px;
  margin-bottom:8px;
  color:#FA983E;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.6);
  text-transform:uppercase
}

#page-footer .footer-nav .row-fluid .nav-pills li
a {
  padding-top:3px;
  padding-bottom:3px;
  border-radius:0
}

.dir-rtl #page-footer .footer-nav .row-fluid
.span2 {
  float:right
}

.dir-rtl #page-footer .footer-nav .row-fluid .nav-pills
li {
  float:none;
  text-align:right
}

#page-footer .footer-info {
  padding-top:25px;
  padding-bottom:20px;
  color:#868686;
  text-align:center
}

@media(max-width:768px) {
  #page-footer .footer-nav .row-fluid
  .span2 {
    float:left;
    width:20%
  }

  #page-footer .footer-nav .row-fluid .span2:last-of-type {
    position:inherit;
    width:100%
  }
}
@media(min-width:769px) {
  .dir-rtl .footer-nav .span2:first-child {
    margin-left:2.1276595744681%
  }
}

@media(max-width:768px) {
  .dir-rtl .footer-nav .span2:first-child {
    *margin-left:2.0744680851064%
  }
}

@media(max-width:640px) {
  #page-footer .footer-nav .row-fluid
  .span2 {
    width:33.3333%
  }

  #page-footer .footer-nav .row-fluid .span2:nth-of-type(5) {
    width:66.6666%
  }

  #page-footer .footer-nav .row-fluid .span2:nth-of-type(5) ul {
    display:block;
    float:left;
    width:50%
  }
}

@media(max-width:480px) {
  #page-footer .footer-nav .row-fluid
  .span2 {
    width:50%
  }

  #page-footer .footer-nav .row-fluid .span2:nth-of-type(5) {
    width:100%;
    clear:left
  }
}
@media(min-width:769px) {
  .dir-rtl .footer-nav .span2:first-child {
    margin-left:2.1276595744681%
  }
}

@media(max-width:768px) {
  .dir-rtl .footer-nav .span2:first-child {
    *margin-left:2.0744680851064%
  }
}
/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]
